@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    position: relative;
}

nav {
    background-color: #A27B5C;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    
}

nav li {
    display: inline;
    font-size: 18px;
}

#logo a {
    text-decoration: none;
}

nav ul a {
    text-decoration: none;
    padding: 100% 10px;
    color: #2C3639;
}

nav #logo {
    font-size: 24px;
    font-weight: bold;
}

nav #logo a {
    color: black;
}

nav ul a:hover {
    background-color: #8d684a;
}



.header {
    padding: 100px 80px;
    background-color: #DCD7C9;
}

.form {
    padding: 20px 80px;
}

.form_item {
    padding: 20px 0;
}



.form_item label {
    display: block;
    padding: 6px 0;
    
}

.form_item .form_choices {
    display: flex;
    justify-content: space-between;
}

.form_choices .right {
    width: 60%;
}

.form_item textarea {
    padding: 10px 10px;
    border-radius: 10px;
}

input[type=submit] {
    border: none;
    background-color: #DCD7C9;
    padding: 15px 40px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #c7c1b1;
}

footer {
    text-align: center;
}
